<script src="javascripts/hamburger_menu.js"></script>
<script src="javascripts/modal_login.js"></script>

<!-- Include the Quill library -->  
<script type="text/javascript" src="/richtexteditor/rte.js"></script>  
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>  
 
 <!-- Script element sourcing the TinyMCE configuration -->
 <script type="application/javascript" src= "/javascripts/tinyMCE_config.js"></script>
</body>
<footer class="footer-container">
        <div class="main-menu">
            <a href="/"><p>Home</p></a>
            <a href="/"><p>About Us</p></a>
            <a href="/"><p>Contact Us</p></a>
            <a href="/"><p>Login</p></a>
        </div>
        <div class="social-btn">
            <a href="/"><img class="social-icon" src="images/linkedin-logo.png" alt="linkedin icon"></a>
            <a href="/"><img class="social-icon" src="images/ig-logo.png" alt="instagram icon"></a>
            <a href="/"><img class="social-icon" src="images/fb-logo.png" alt="facebook icon"></a>
        </div>
</footer>