<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Full Stack Blog</title>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navigation-container">
        <a href="/"><img class="site-logo" src="images/site-logo.png" alt="site logo"></a>
        <div class="main-menu">
            <a class="nav-link" href="/"><p>Home</p></a>
            <a class="nav-link" href="/about"><p>About Us</p></a>
            <a class="nav-link" href="/contact"><p>Contact Us</p></a>
            <a class="nav-link" href="/admin"><p>Publish Your Article</p></a>
        </div>
        <div class="social-btn">
            <a href="/"><img class="social-icon" src="images/linkedin-logo.png" alt="linkedin icon"></a>
            <a href="/"><img class="social-icon" src="images/ig-logo.png" alt="instagram icon"></a>
            <a href="/"><img class="social-icon" src="images/fb-logo.png" alt="facebook icon"></a>
            <!-- Logout and Login Button -->
            <% if(authDetails.user) {  %>
                <a href="/logout" id="open-form"><button class="login-btn">Logout</button></a>
            <% } else {  %>
                <a href="/login" id="open-form"><button class="login-btn">Login</button></a>
            <% }  %>
            
        </div>
        <div class="hamburger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>