<div class="post-snippet">
    <div class="post-snippet-img-holder" style="background-image: url('../../featuredimg/123.png');"></div>
    <p class="post-snippet-category"><%=article.postCategory%> </p>
    <a class="post-snippet-title" href=""><h3><%= article.articleTitle %> </h3></a>
    <p class="post-snippet-info">This is blog post snippet and this  is the first oaragrafas of the while blog post. This will tell user to what you will look in this post and the word limit must be set inorder to prevent layout issues</p>
    <hr class="post-snippet-bottom-hr">
    <p class="post-snippet-bottom">27 December | <%= article.author.fullname %> </p>
</div>