<!-- Header -->
<%- include('partials/header.ejs') %>

    <!-- Home Body Containet -->
    <div class="main-body-container">

        <!-- Hero Section -->
        <div class="hero-section about">

            <div class="hero-content about-hero-content width-class">

                <div class="hero-heading">
                    <h1 class="defualt-h1">We are Traders... <br> Here to Help You...<br> Become a<span> successful Traders</span></h1>
                    <p class="defualt-p">With our proven tradiing technicques you don’t need to invent the wheel again, we have strategy which is proven to be profitable </p>
                </div>
            </div>

        </div>
        <!-- Blog Post Snippet Section -->
        <div class="blog-post-snippet-container our-service width-class">
            <h2 class="defualt-h2">Our Services</h2>
            <p class="defualt-p">Welcome to Trade Revenue Pro, your number one education source for Forex trading. We’re dedicated to giving you the very best of trading education, with a focus on high quality, informative and practical trading articles consistently every week for free, Yeah! you heard that right, every educational article is free here.</p>

            <!-- service card section -->
            <div class="service-card-container">
                
                <div class="service-card">
                    <div class="service-icon"><img src="images/forex-basic-course.png" alt="forex basic course icon"></div>
                    <div class="service-content">
                        <h3>Forex Basic Course</h3>
                        <p class="defualt-small-p">Beginner to Advanced Forex course that covers the A-Z of the mechanics of Forex, the Falcon FX strategy, and everything else you need to scale your trading.</p>
                    </div>    
                </div>

                <div class="service-card">
                    <div class="service-icon"><img src="images/trading-community.png" alt="forex basic course icon"></div>
                    <div class="service-content">
                        <h3>Trading Community</h3>
                        <p class="defualt-small-p">Join the thousands of new and experienced traders who are already learning and growing everyday with our global educational platform.</p>
                    </div>    
                </div>

                <div class="service-card">
                    <div class="service-icon"><img src="images/traders-funding-program.png" alt="forex basic course icon"></div>
                    <div class="service-content">
                        <h3>Traders Funding Program</h3>
                        <p class="defualt-small-p">The trader funding program is for Falcon FX members who have been consistent with their trading performance and are ready for funding.</p>
                    </div>    
                </div>

                <div class="service-card">
                    <div class="service-icon"><img src="images/forex-basic-course.png" alt="forex basic course icon"></div>
                    <div class="service-content">
                        <h3>Road to 7 Figure</h3>
                        <p class="defualt-small-p">Designed for intermediate to advanced traders looking for an accelerated route to profitable trading in the forex markets.</p>
                    </div>    
                </div>

            </div>
        </div>


    </div>

<%- include('partials/footer.ejs') %>