<%- include('partials/header.ejs') %>

    <!-- Home Body Containet -->
    <div class="main-body-container">
        <div class="admin-container width-class">

            <a href="/new-article"><button class="new-article">Add New Article</button></a>

            <div class="article-container">
                <p class="topic">Published Article</p>

                <div class="article-list">

                    <!-- one Article -->
                    <div class="article">
                        <p>01</p>
                        <p>What is forex trading and how to become...</p>
                        <p>Category</p>
                        <p>Author</p>
                        <p>27 Dec</p>
                        <button>Edit Article</button>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <%- include('partials/footer.ejs') %>