<!-- Header -->
<%- include('partials/header.ejs') %>

    <!-- Home Body Containet -->
    <div class="main-body-container">

        <!-- Hero Section -->
        <div class="hero-section contact">

            <div class="hero-content about-hero-content width-class">

                <div class="hero-heading">
                    <h1 class="defualt-h1">Need Help...<br> Just Contact Us</h1>
                    <p class="defualt-p">Got any problem? Just fill the form below and will make sure
                        to contact you back as soon as possible </p>
                </div>
            </div>

        </div>

        <!-- contact us form container -->
        <div class="contact-us-container width-class">


            <div class="contact-form-section">
                <div class="form-container">
                    <form class="basic-form" action="">
                        <p class="form-header-text">Feel free to contact us and we will get back <br>
                            to you as soon as we can</p>
                        <hr class="top-hr">

                        <div class="form-inputs">
                            <input type="text" name="fullname" placeholder="Full name">
                        </div>
                        <div class="form-inputs">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-inputs">
                            <textarea type="text" name="message" rows="8" placeholder="Your Message"> </textarea>
                        </div>
                        <button class="form-btn">Create your account</button>

                        <hr class="bottom-hr">
                        
                        <p class="form-footer-text">By signing up you agree to our Terms, Data Policy and <br> Cookies Policy</p>
                    </form>
                </div>
            </div>


            <div class="company-details-section">
                <div class="open-hours">
                    <h3>Opening Hours</h3>
                    <p class="defualt-small-p">Monday - Friday <br> 9AM - 5PM <br> Weekend - Closed</p>
                </div>
                <div class="open-hours">
                    <h3>Address</h3>
                    <p class="defualt-small-p">Jin. Letjend Superman 51,<br> Kediri Java Timur 64125, <br> Indonesia</p>
                </div>
                <div class="open-hours">
                    <h3>Support</h3>
                    <p class="defualt-small-p">hellow@sup.com <br> +62 21 6539-0605</p>
                </div>
            </div>
        </div>


    </div>

<%- include('partials/footer.ejs') %>