<!-- Header -->
<%- include('partials/header.ejs') %>

    <!-- Home Body Containet -->
    <div class="main-body-container">

        <!-- Login Form -->
        <%- include('partials/login_form.ejs') %>

    </div>

<%- include('partials/footer.ejs') %>