<%- include('partials/header.ejs') %>

    <!-- Home Body Containet -->
    <div class="main-body-container">
        <div class="new-article-container width-class">
            <h3>Add New Article</h3>
            <p>Fill all the field below and make sure add follow SEO principals if targeting audience from google</p>

            
            <div class="form-container new-article-form">
                <form class="basic-form" id="add-new-article" action="/new-article" method="post" enctype="multipart/form-data">

                    <div class="form-inputs">
                        <input id="new-article-input" type="text" name="articleTitle" placeholder="Article Title" required>
                    </div>
                    <div class="form-inputs">
                        <input id="new-article-input" type="text" name="category" placeholder="Post Category" required>
                    </div>
                    <div class="form-inputs tinyMCE">
                        <textarea id="postContent" name="postcontent" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-inputs">
                        <input id="new-article-input" type="text" name="link" placeholder="Permelink" required>
                    </div>
                    <div class="form-inputs">
                        <input id="new-article-input" type="text" name="description" placeholder="Post Description" required>
                    </div>
                    <div class="form-inputs">
                        <input id="new-article-input" type="file" name="featuredimg" placeholder="Upload Image">
                    </div>

                    <button type="submit" class="form-btn" id="add-new-article-btn">Publish Article</button>

                    <hr class="bottom-hr">
                    
                    <div>Please Make sure to double check all the details that you entered if by any chance if you mistake anything you can always can edit the article details in the admin area</div>
                </form>
            </div>


        </div>
    </div>

    <%- include('partials/footer.ejs') %>