<!-- Header -->
<%- include('partials/header.ejs') %>

    <!-- Home Body Containet -->
    <div class="main-body-container post-content-holder">
        <div class="featured-img"></div>
        <div class="post-content">
            <h1>How to Earn Sustainable Income as a Forex Trader? Tips and Tricks</h1>
            <div class="post-meta">
                <p>Shamila Hasaranga</p>
                <p>De 27</p>
            </div>
            <div class="article-content">
                <p>Nam consequat convallis nibh vel imperdiet. Phasellus at malesuada eros. Nullam lobortis erat nunc,
                    id iaculis sapien maximus cursus. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Sed placerat risus in mauris euismod rutrum sit amet at lectus
                </p>
                <h2>How to Earn Sustainable Income as a Forex Trader? Tips and Tricks</h2>
                <p>Sed pellentesque leo mauris, eget ornare lectus facilisis vel. Donec consequat ullamcorper tortor a
                    venenatis. Morbi congue fringilla dui, quis ultricies urna vehicula ut. Praesent ultrices ligula nec
                    posuere suscipit. Morbi a dolor aliquam, pretium neque at, placerat purus. Aliquam vitae libero
                    tempus, euismod metus a, rhoncus magna. Fusce in rhoncus elit. Vivamus porttitor egestas aliquet.
                    Duis vestibulum justo metus, sed euismod leo rhoncus at. Nullam egestas lacus id mi imperdiet, et
                    rhoncus nunc porta. Aliquam erat volutpat. Quisque ultricies congue tellus, eu commodo enim
                    pellentesque et. Duis auctor mi a lorem consequat molestie. Nulla facilisi. Phasellus luctus diam
                    non sem elementum faucibus. Sed fermentum tristique erat, ut sollicitudin orci convallis vel.
                </p>
                <p>Fusce ultricies tincidunt purus, et ultrices tellus blandit a. In fermentum est lacus. Donec vel
                    condimentum dolor, molestie tincidunt tortor. Suspendisse rutrum consectetur laoreet. Ut et laoreet
                    augue. Nam eros erat, faucibus et vulputate hendrerit, eleifend ac elit. Pellentesque pharetra
                    eleifend pellentesque. Donec hendrerit accumsan metus, in sollicitudin enim venenatis vitae.
                    Vestibulum in faucibus ex, ac malesuada elit. Donec ultrices felis vel lacinia suscipit. Cras lorem
                    justo, dictum quis elementum non, tempus eu velit. Cras in vestibulum tellus. Pellentesque
                    pellentesque tellus eget efficitur egestas.</p>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <%- include('partials/footer.ejs') %>